/* .search-wrap {
max-width: 100%;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
text-align: center;
border-bottom: 1px solid silver;


} */

/* .logo-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.social-wrap {
display: flex;
flex-direction: row;
width: 20%;
justify-content: space-between;

} */